# Виртуальное окружение
/venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo


# Данные
*.db
*.sqlite3

# Системные файлы
.DS_Store
Thumbs.db
