RABBITMQ_HOST=rabbitmq  # имя хоста rabbitmq
RABBITMQ_PORT=5672      # порт хоста rabbitmq
RABBITMQ_USER=user      # login для входа rabbitmq
RABBITMQ_PASS=password  # password для входа rabbitmq


QWEN_PICT_MODEL=JEILDLWLRMA/Qwen3-VL-4B-Instruct-NVFP4  # Модель для обработки картинки
QWEN_PICT_URL=http://qwen-vl:8000/v1/chat/completions   # url для модели картинок в докере

QWEN_TEXT_URL=http://qwen-vl:8000/v1/chat/completions   # Модель для обработки текста
QWEN_TEXT_MODEL=JEILDLWLRMA/Qwen3-VL-4B-Instruct-NVFP4  # url для модели обработки текста в докере
