RABBITMQ_HOST=rabbitmq  # имя хоста rabbitmq
RABBITMQ_PORT=5672      # порт хоста rabbitmq
RABBITMQ_USER=user      # login для входа rabbitmq
RABBITMQ_PASS=password  # password для входа rabbitmq

OLLAMA_BASE_URL=http://host.docker.internal:11434 # на каком адресе работает ollama
