# RabbitMQ
RABBITMQ_HOST=rabbitmq  # имя хоста rabbitmq
RABBITMQ_PORT=5672      # порт хоста rabbitmq
RABBITMQ_USER=user      # login для входа rabbitmq
RABBITMQ_PASS=password  # password для входа rabbitmq

# VK
VK_CONFIRMATION_CODE=9... #Код подтверждения сервера для VK
VK_TOKEN=vk1.a....        #API для VK

# MySQL
DB_HOST=mysql        # хост mysql (имя сервиса в docker-compose)
DB_USER=app_user     # логин для mysql (совпадает с MYSQL_USER)
DB_PASS=app_pass     # пароль (совпадает с MYSQL_PASSWORD)
DB_NAME=app_db       # имя базы данных (совпадает с MYSQL_DATABASE)
DB_PORT=3306         # порт mysql (стандартный)
